# Git
.git
.gitignore

# Node.js / Bun
node_modules
npm-debug.log
bun.lockb

# Environment variables
.env
.env.*

# Database files
*.db
*.db-journal

# Logs
logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Docker
Dockerfile
.dockerignore 